$tearose: #f5c3bb;
$vermillon: #eb5544;
$whitesmoke: #f5f5f5;
$savoyblue: #6369d1;
$delftblue: #34435e;

$primary-color: $vermillon;
$secondary-color: $savoyblue;
$tertiary-color: $tearose;
$white: $whitesmoke;
$black: $delftblue;